<!-- Require { file: FileData, fileContent: string, scripts: string[] } -->

<%- include("header", { title: file.name }) %>

	<body>
		<nav class="navbar navbar-expand">
			<a style="height: 2em;" class="d-inline-block index" href="/">
				<img style="height: 2em; border: none; " src="/res/books.svg" alt="Back">
			</a>
			<div class="btn btn-light title" contenteditable="plaintext-only"><%- file.name -%></div>
		</nav>
		<nav class="navbar navbar-expand">
			<button id="save-file" class="btn btn-light">Save</button>
			<form action="/new" method="post" class="d-inline">
				<input type="submit" id="new-file" class="btn btn-light" value="New" />
			</form>
			<button id="upload-file" class="btn btn-light">Upload</button>
			<form id="input-form" class="d-none" action="/upload" method="post" enctype="multipart/form-data">
				<input id="input" type="file" accept="text/plain" name="file" class="d-none">
			</form>
			<button id="dump-file" class="btn btn-light">Delete</button>
			<button id="toggle" class="btn btn-light">Images</button>
		</nav>
		<div class="scrollable w-100 h-100 p-3">
			<div id="editor" contenteditable="plaintext-only" style><%- fileContent -%></div>
			<div id="image-panel" style="display: none;"></div>
		</div>
		<input id="file-id" type="hidden" class="d-none" name="fileid" value="<%= file.fileid %>">
		<input id="image-id" type="hidden" class="d-none" name="fileid" value="">
		<div id="context-menu" class="dropdown-menu"></div>
	</body>
	<div>
		<% scripts.forEach(script=> { -%>
			<script type="module" src="/js/<%= script %>"></script>
			<% }) %>
	</div>
	<%- include("footer") %>