<!-- Require { file: FileData, fileContent: string, scripts: string[] } -->

<%- include('header', { title: file.name }) %>

	<body>
		<nav class="navbar navbar-expand">
			<a style="height: 2em;" class="d-inline-block" id="index-button" href="/">
				<img style="height: 2em; border: none; " src="/res/file.png" alt="Back">
			</a>
			<div id="title-container" class="btn btn-light" contenteditable="plaintext-only"><%- file.name -%></div>
		</nav>
		<nav id="file-menu" class="navbar navbar-expand">
			<button id="save-file" class="btn btn-light">Save</button>
			<form action="/new" method="post" class="d-inline">
				<input type="submit" id="new-file" class="btn btn-light" value="New"/>
			</form>
			<button id="upload-file" class="btn btn-light">Upload</button>
			<button id="dump-file" class="btn btn-light">Delete</button>
			<a id="images-button" href="./images" class="btn btn-light">Images</a>
		</nav>
		<form id="input-form" class="d-none" action="/upload" method="post" enctype="multipart/form-data">
			<input id="input" type="file" accept="text/plain" name="file" class="d-none">
			<input id="file-id" type="hidden" class="d-none" name="fileid" value="<%= file.fileid %>">
		</form>
		<ul id="action-menu" class="dropdown-menu">
			<button id="upload-image" class="dropdown-item">Upload Image</button>
		</ul>
		<div class="scrollable">
			<div id="text-container" contenteditable="plaintext-only"><%- fileContent -%></div>
		</div>
		<div>
			<% scripts.forEach(script=> { -%>
				<script type="module" src="/js/<%= script %>"></script>
				<% }) %>
		</div>
	</body>
	<%- include('footer') %>