<!-- Require { file: FileData, fileContent: string, scripts: string[] } -->

<%- include("header", { title: file.name }) %>

	<body>
		<header>
			<nav class="navbar navbar-expand">
				<a class="d-inline-block index" href="/">
					<img src="/res/books.svg" alt="Back">
				</a>
				<div class="btn btn-light title" contenteditable="plaintext-only"><%- file.name -%></div>
			</nav>
			<nav class="navbar navbar-expand toggleable">
				<button class="btn btn-light toggle">Images</button>
				<button class="btn btn-light save-file">Save</button>
				<form action="/new" method="post" class="d-inline">
					<input type="submit" class="btn btn-light new-file" value="New" />
				</form>
				<button class="btn btn-light upload-file">Upload</button>
				<button class="btn btn-light dump-file">Delete</button>
			</nav>
			<nav class="navbar navbar-expand toggleable hidden">
				<button class="btn btn-light toggle">Editor</button>
				<button class="btn btn-light upload-image">Upload</button>
				<button class="btn btn-light clear-images">Delete All</button>
			</nav>
		</header>
		<div class="scrollable">
			<div id="editor" class="toggleable editor" contenteditable="plaintext-only" autofocus style><%- fileContent -%></div>
			<div id="image-panel" class="toggleable hidden"></div>
		</div>
		<dialog class="dialog" style="display: none;">
			<button class="btn btn-light close-dialog">Close</button>
		</dialog>
		<input type="file" name="file" class="d-none" accept="text/plain" required hidden>
		<input id="file-id" type="hidden" class="d-none" name="fileid" value="<%= file.fileid %>">
		<input id="image-id" type="hidden" class="d-none" name="fileid" value="">
		<div id="context-menu" class="dropdown-menu"></div>
	</body>
	<div>
		<% scripts.forEach(script=> { -%>
			<script type="module" src="/js/<%= script %>"></script>
			<% }) %>
	</div>
	<%- include("footer") %>