<%- include('header', { title: "PicBookGen" }) %>

	<body>
		<h1>Index</h1>
		<% files.forEach(file=> { -%>
			<a class="card d-inline-block" style="width: 10rem;" href="/edit/<%= file['fileID'] %>/">
				<!-- <img class="full" src="/res/file.ico" alt="<%= file['name'] %>"> -->
				<iframe class="full" src="/preview/<%= file['fileID'] %>" title="<%= file['name'] %>"></iframe>
				<span class="card-body text-center">
					<h3 class="card-title text-center">
						<%= file['name'] %>
					</h3>
				</span>
			</a>
			<% }) %>
	</body>
	<link rel="stylesheet" href="/css/style.css">
	<%- include('footer') %>