<!-- Require (files: FileData[], scripts: string[]) -->

<%- include("header") %>

	<body>
		<nav class="navbar navbar-expand">
			<h1>PicBookGen</h1>
		</nav>
		<nav class="navbar navbar-expand">
			<form action="/new" method="post" class="d-inline">
				<input type="submit" class="btn btn-light new-file" value="New" />
			</form>
			<button class="btn btn-light upload-file">Upload</button>
			<a href="/trash" class="btn btn-light">Trash Can</a>
		</nav>
		<div class="scrollable p-3">
			<div id="file-panel">
				<% if (files.length===0) {-%>
					<div> Click New to add more files! </div>
					<% } %>
						<% for (file of files) {-%>
							<a id="<%= file.fileid %>" href="/edit/<%= file.fileid %>"
								class="card d-inline-flex hover-select id-selectable">
								<iframe class="disabled" src="/<%= file.fileid %>" title="<%= file.name %>"></iframe>
								<span class="card-body text-center">
									<div class="btn btn-light title" contenteditable="plaintext-only"><%- file.name -%></div>
									<div>
										<img class="border-0 btn btn-light rounded option" src="/res/option.svg" alt="options"
											style="height: 40px;">
									</div>
								</span>
							</a>
							<% } %>
			</div>
		</div>
		<dialog class="dialog" style="display: none;">
			<button class="btn btn-light close-dialog">Close</button>
			<form>
				<input type="file" class="d-inline" accept="text/plain" name="file" required>
			</form>
		</dialog>
		<input id="file-id" type="hidden" class="d-none" name="fileid" value="">
		<div id="context-menu" class="dropdown-menu">
			<a class="dropdown-item read" href="/read">Read</a>
			<button class="dropdown-item rename-file">Rename</button>
			<button class="dropdown-item dump-file">Delete</button>
		</div>
	</body>
	<div>
		<% scripts.forEach(script=> { -%>
			<script type="module" src="/js/<%= script %>"></script>
			<% }) %>
	</div>
	<%- include("footer") %>