<!-- Require (files: JSON, scripts: string[]) -->

<%- include('header', { title: "PicBookGen" }) %>

	<body>
		<nav class="navbar navbar-expand">
			<h1>PicBookGen</h1>
		</nav>
		<nav class="navbar navbar-expand">
			<div>
				<button id="new-button" class="btn btn-primary" href="#">New</button>
				<button id="upload-button" class="btn btn-primary">Upload</button>
			</div>
		</nav>
		<% files.forEach(file=> { -%>
			<a class="card d-inline-block" style="width: 10rem;" href="/edit/<%= file['fileID'] %>/">
				<!-- <img class="full" src="/res/file.ico" alt="<%= file['name'] %>"> -->
				<iframe class="full" src="/preview/<%= file['fileID'] %>" title="<%= file['name'] %>"></iframe>
				<span class="card-body text-center">
					<h3 class="card-title text-center">
						<%= file['name'] %>
					</h3>
				</span>
			</a>
			<% }) %>
	</body>
	<link rel="stylesheet" href="/css/style.css">
	<% scripts.forEach(script=> { -%>
		<script src="/js/<%= script %>"></script>
		<% }) %>
			<%- include('footer') %>