<!-- Require (IDs: string[], names: string[], scripts: string[]) -->

<%- include('header') %>

	<body>
		<nav class="navbar navbar-expand">
			<h1>PicBookGen</h1>
		</nav>
		<nav class="navbar navbar-expand">
			<div>
				<button id="new-button" class="btn btn-primary" href="#">New</button>
				<button id="upload-button" class="btn btn-primary">Upload</button>
				<a href="/trash" class="btn btn-primary">Trash Can</a>
			</div>
		</nav>
		<% for (let i=0; i < IDs.length; i++) {-%>
			<div id="<%= IDs[i] %>" class="card d-inline-flex">
				<iframe class="full" src="/<%= IDs[i] %>" title="<%= names[i] %>"></iframe>
				<span class="card-body text-center">
					<a href="/edit/<%= IDs[i] %>/">
						<h3 class="card-title text-center d-inline-flex">
							<%= names[i] %>
						</h3>
					</a>
					<div>
						<button data-id="<%= IDs[i] %>" class="dump-button border-0 btn-link">
							<img class="border-0" src="/res/delete.ico" alt="delete" style="height: 2em;">
						</button>
					</div>
				</span>
			</div>
			<% } %>
				<% if (IDs.length===0) {-%>
					<div> Click <button class="btn btn-primary">New</button> to add more files! </div>
					<% } %>
	</body>
	<div>
		<% scripts.forEach(script=> { -%>
			<script src="/js/<%= script %>"></script>
			<% }) %>
	</div>
	<%- include('footer') %>