<!-- Require { filename: string, fileContent: string } -->

<%- include("header", { title: filename }) %>

  <body>
    <header>
      <nav class="navbar navbar-expand">
        <a class="d-inline-block index" href="/">
          <img src="/res/books.svg" alt="Back">
        </a>
        <div class="btn btn-light title"><%- filename -%></div>
      </nav>
    </header>
    <div class="scrollable">
      <div id="editor" class="editor plaintext"><%- fileContent -%></div>
    </div>
    <div id="context-menu" class="dropdown-menu"></div>
    <input id="file-id" type="hidden" class="d-none" name="fileid" value="<%= file.fileid %>">
  </body>
  <% scripts.forEach(script=> { -%>
    <script type="module" src="/js/<%= script %>"></script>
    <% }) %>
      <%- include("footer") %>