<!-- Require (files: FileData[], scripts: string[]) -->

<%- include("header", { title: "Trash Can" }) %>

	<body>
		<nav class="navbar navbar-expand">
			<a style="height: 2em;" class="d-inline-block index" href="/">
				<img style="height: 2em; border: none; " src="/res/books.svg" alt="Back">
			</a>
			<h1 class="d-inline-block">Trash Can</h1>
		</nav>
		<div class="scrollable p-3">
			<input id="file-id" type="hidden" class="d-none disabled" name="fileid" value="">
			<div id="trash-panel">
				<% for (file of files) {-%>
					<div id="<%= file.fileid %>" class="card d-inline-flex hover-select id-selectable" href="#">
						<img src="/res/book.svg" style="width: 300px; height: 150px;" alt="Book"></img>
						<span class="card-body text-center">
							<h3 class="card-title text-center d-inline-flex">
								<%= file.name %>
							</h3>
							<div>
								<img class="border-0 btn btn-light rounded option" src="/res/option.svg" alt="options"
									style="height: 40px;">
							</div>
						</span>
					</div>
					<% } %>
			</div>
		</div>
		<div id="context-menu" class="dropdown-menu">
			<button class="dropdown-item restore-file">Restore</button>
			<button class="dropdown-item delete-file">Delete</button>
		</div>
	</body>
	<div>
		<% scripts.forEach(script=> { -%>
			<script type="module" src="/js/<%= script %>"></script>
			<% }) %>
	</div>
	<%- include("footer") %>